{% extends 'base.html' %}

{% block title %}Sign Up!{% endblock %}

{% block content %}

    <form action="{{ url_for('auth.sign_up') }}" method="POST" class="py-5 row d-flex flex-column align-items-center">

        <div class="mb-3 col-12 col-md-7">
            <label for="login" class="form-label">Login</label>
            <input type="text" class="form-control" id="login" name="login" placeholder="Enter login" required>
        </div>

        <div class="mb-3 col-12 col-md-7">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter full name" required> 
        </div>

        <div class="mb-3 col-12 col-md-7">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" required>
        </div>

        <div class="mb-3 col-12 col-md-7">
            <label for="password2" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" required>
        </div>

        <button type="submit" class="btn btn-primary btn-lg col-12 col-md-7 mt-3">Sign me up!</button>

    </form>

{% endblock %}
